/* =============================================================================
	 HTML5 display definitions
	 Corrects block display not defined in IE6/7/8/9 & FF3
	 ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {  display: block }

audio, canvas, video { /*Corrects inline-block display not defined in IE6/7/8/9 & FF3*/
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {  display: none } /*Prevents modern browsers from displaying 'audio' without controls*/
[hidden] {  display: none } /*Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4 Known issue: no IE6 support*/
/* =============================================================================
	 Base
	 ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
	font-size: 100%; /* 1 */
	overflow-y: scroll; /* 2 */
	-webkit-text-size-adjust: 100%; /* 3 */
	-ms-text-size-adjust: 100%; /* 3 */
}
body {  margin: 0 } /*Addresses margins handled incorrectly in IE6/7*/

body, button, input, select, textarea {  font-family: sans-serif } /*Addresses font-family inconsistency between 'textarea' and other form elements.*/
/* =============================================================================
	 Links
	 ========================================================================== */
a:focus {  outline: thin dotted }/*Addresses outline displayed oddly in Chrome*/
a:hover, a:active {  outline: 0 }/*Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test*/
/* =============================================================================
	 Typography
	 ========================================================================== */
h1 {  font-size: 2em }/*Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5*/
abbr[title] {  border-bottom: 1px dotted }/*Addresses styling not present in IE7/8/9, S5, Chrome*/
b, strong {  font-weight: bold }/*Addresses style set to 'bolder' in FF3+, S4/5, Chrome*/
blockquote {  margin: 1em 40px }
dfn {  font-style: italic }/*Addresses styling not present in S5, Chrome*/
pre, code, kbd, samp { /*Corrects font family set oddly in IE6, S4/5, Chrome en.wikipedia.org/wiki/User:Davidgothberg/Test59*/
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}
pre { /*Improves readability of pre-formatted text in all browsers*/
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

q {  quotes: none } /* 1 */
q:before, q:after { /* 2 */
	content: '';
	content: none;
}
small {  font-size: 75% }
sub, sup { /*Prevents sub and sup affecting line-height in all browsers gist.github.com/413930*/
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {  top: -0.5em }
sub {  bottom: -0.25em }
/* =============================================================================
	 Lists
	 ========================================================================== */
ul, ol {
	margin-left: 0;
	padding: 0 0 0 40px;
}
dd {  margin: 0 0 0 40px }
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}
/* =============================================================================
	 Embedded content
	 ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
	border: 0; /* 1 */
	-ms-interpolation-mode: bicubic; /* 2 */
}
svg:not(:root) {  overflow: hidden } /*Corrects overflow displayed oddly in IE9*/
/* =============================================================================
	 Tables
	 ========================================================================== */
table { /*Remove most spacing between table cells (still requires cell-spacing attribute)*/
	border-collapse: collapse;
	border-spacing: 0;
}

/* =============================================================================
	 Non-semantic helper classes - Pulled from HTML5 Boilerplate
	 ========================================================================== */

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }/* for image replacement */

.hidden { display: none; visibility: hidden; } /* Hide for both screenreaders and browsers css-discuss.incutio.com/wiki/Screenreader_Visibility */

.visuallyhidden { /* Hide only visually, but have it available for screenreaders www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
	position: absolute !important;    
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px); }

.invisible { visibility: hidden; } /* Hide visually and from screenreaders, but maintain layout */

.clearfix:before, .clearfix:after { /* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
	content: "\0020"; display: block; height: 0; visibility: hidden;  
} 

.clearfix:after { clear: both; }

.clearfix { zoom: 1; } /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */